<div class="container">
  <button (click)="toggleBodyFat()" class="btn btn-primary my-sm-5">{{labelShowBodyFat}}</button>
</div>

<table class="table container">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">Date</th>
    <th scope="col">Weight</th>
    <th scope="col" *ngIf="showBodyFat">Body Fat %</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let e of entries">
    <td style="width: 20px;">
      <a [routerLink]="['/entries/' + e.id]">
        <span class="detailIcon"><i class="fas fa-info-circle"></i></span>
      </a>
    </td>
    <td>{{e.date | date:'yyyy/MM/dd'}} </td>
    <td>{{e.weight}} lbs</td>
    <td *ngIf="showBodyFat">{{e.bodyfat | percent}}</td>
  </tr>
  </tbody>
</table>

<div class="container row">
  <div class="col-sm">
    <ng-crash-course-new-weight-entry [showBodyFat]="this.showBodyFat" (createNewEntryEvent)="createNewEntry($event)">
    </ng-crash-course-new-weight-entry>
  </div>
  <div class="col-sm">&nbsp;</div>
</div>
